// colors cube
$woodsmoke: #121117;
$bluelagoon: #048383;
$corduroy: #5c5e5e;
$edward: #aeb0b0;
$koromiko: #feb169;
$fountainblue: #45bbbc;
$piper: #c86f29;
$anakiwa: #96fefe;

// median cut
$shark: #1c2224;
$blackhaze: #e8ecea;
$seanymph: #729fa1;
$smaltblue: #50828c;
$capepallister: #ac6b44;

// material design
$elm: #22918e;
$cloudy: #a5a09d;
$elfgreen: #078282;
$limedspruce: #3d4955;
$diserria: #dc945c;
$word: #65a1a447;
$line: #e5eeef;