//import//////////
@use './partial/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// general rules/////////////////////////////
* {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

    &:hover {
        transition: 0.4s;
    }
}

ul {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

small {
    font-size: 14px;
    color: $fountainblue;
    font-weight: 700;
    text-transform: uppercase;
}

h1,
h2 {
    font-size: 48px;
    font-weight: 800;
    margin: 15px 0;
    text-transform: capitalize;
}

p {
    color: $edward;
    max-width: 600px;
}

// text with background color
.word {
    background-color: $word;
    color: $bluelagoon;
    padding: 0 0.5rem;
    border-radius: 5px;
}

.onblack {
    color: white !important;
}

// inputs
input {
    min-height: 40px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    background-color: rgba(218, 218, 218, 0.92);
    margin-bottom: 1rem;

    &:focus {
        outline-color: $fountainblue;
    }
}

//buttons////////

// solid button
.my_btn {
    background-color: $bluelagoon !important;
    color: white !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    border: 2px solid $bluelagoon !important;
    margin-right: 1rem;

    &:hover {
        border-color: $fountainblue !important;
        color: $fountainblue !important;
        background-color: transparent !important;

    }

}

// outline button
.my_btn_border {
    border-color: $bluelagoon !important;
    color: $bluelagoon !important;
    background-color: transparent !important;
    border: 2px solid !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    border-radius: 5px !important;

    &:hover {
        background-color: $fountainblue !important;
        color: white !important;
        border-color: $fountainblue !important;
    }
}